node_modules
.env*
.env.stage
.env.prod
artistUniqueArtWorkCollection
stage_deleted_products
artistProductCollection
artistProductCollectionCustom
artistProductCollectionStage
artistProductCollectionProd
artistUniqueArtWorkCollectionProd
.vscode
.DS_Store
imagesStage
imagesProd
smartCollectionByTagProd
smartCollectionByTagStage
productsFromProd
