SHOPIFY_DOMAIN=
SHOPIFY_TOKEN=
SHOPIFY_VERSION=

RESOURCE_TYPE=
RESOURCE_ID=7538684002479
NAMESPACE=algolia_search
KEY=test
TYPE=json_string
VALUE="[ { \"name\": \"Acura\", \"value\": \"Acura\" }, { \"name\": \"Alfa Romeo\", \"value\": \"Alfa Romeo\" }, { \"name\": \"Aston Martin\", \"value\": \"Aston Martin\" }, { \"name\": \"Audi\", \"value\": \"Audi\" }, { \"name\": \"Bentley\", \"value\": \"Bentley\" }, { \"name\": \"BMW\", \"value\": \"BMW\" }, { \"name\": \"Bugatti\", \"value\": \"Bugatti\" }, { \"name\": \"Buick\", \"value\": \"Buick\" }, { \"name\": \"Cadillac\", \"value\": \"Cadillac\" }, { \"name\": \"Chevrolet\", \"value\": \"Chevrolet\" }]"
