
AUTH_NET_API_LOGIN_KEY= 
AUTH_NET_TRANSACTION_KEY= 

# Production
AUTH_NET_API_ENDPOINT=https://api.authorize.net/xml/v1/request.api
# Sandbox
# AUTH_NET_API_ENDPOINT=https://apitest.authorize.net/xml/v1/request.api
